
body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
    margin: 0;
}

table {
    border-color: inherit;
    text-indent: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.flex {
    display: flex;
}

.table {
    display: table;
}

.grid {
    display: grid;
}

.place-items-center {
    place-items: center;
    padding: 10%;
}

.text-5xl {
    font-size: 2.7rem;
    line-height: 1;
}

.mt-10 {
    margin-top: 2.5rem;
}

.mb-10 {
    margin-bottom: 2.5rem;
}

.w-12 {
    width: 2.5rem;
}

.app {
    background-color: #fff;
    border: 0.3rem solid #000;
    border-radius: 1px;
    color: #1e90ff;
    padding: 1.2rem;
    position: relative;
    top: 10%;
}

.app:after {
    background-color: #6495ed;
    border-radius: 1px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.25s ease-in-out;
    width: 100%;
    z-index: -5;
}

.app:hover:after {
    transform: translate(8px, -18px);
}

@media (min-width: 1000px) {
    .md\:grid {
        display: grid;
    }

    .md\:gap-1 {
        gap: 1rem;
    }

}

    .xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }