<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forside</title>
    <link rel="stylesheet" th:href="@{forside.css}" href="forside.css">
</head>
<body>
<div class="grid place-items-center w-full overflow-x-hidden">

    <section id="clock" class="font-display text-6xl md:text-8xl xl:text-9xl mt-10 mb-10"></section>

    <section id="apps" class="
      flex flex-col
      md:grid md:grid-cols-2
      md:gap-1
      xl:grid-cols-3
      2xl:grid-cols-4
      font-display
      text-2xl ">
        <a href="#" rel="noopener noreferrer nofollow" class="
        app
        grid
        place-items-center
        text-5xl
        pr-5
        pl-5
        pt-2
        pb-2
        cursor-pointer
        mb-5
      ">
            <div class="flex items-center justify-center gap-1">
                <img src="https://assets.codepen.io/3607040/source_icons_list.svg" alt="Tasks Icon" class="w-12" />
                <span>Data</span>
            </div>
        </a>

        <a href="#" rel="noopener noreferrer nofollow" class="
        app
        grid
        place-items-center
        text-5xl
        pr-5
        pl-5
        pt-2
        pb-2
        cursor-pointer
        mb-5
      ">
            <div class="flex items-center justify-center gap-1">
                <img src="https://assets.codepen.io/3607040/source_icons_trello.svg" alt="Boards Icon" class="w-12" />
                <span>Skade</span>
            </div>
        </a>

        <a href="#" rel="noopener noreferrer nofollow" class="
        app
        grid
        place-items-center
        text-5xl
        pr-5
        pl-5
        pt-2
        pb-2
        cursor-pointer
        mb-5
      ">
            <div class="flex items-center justify-center gap-1">
                <img src="https://assets.codepen.io/3607040/source_icons_trello.svg" alt="Calendar Icon" class="w-12" />
                <span>Forretning</span>
            </div>
        </a>

    </section>
</body>
</html>
