<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Forside</title>
    <link href="forside.css" rel="stylesheet" th:href="@{forside.css}">
</head>
<body>
<div class="grid place-items-center w-full overflow-x-hidden">

    <section class="font-display text-6xl md:text-8xl xl:text-9xl mt-10 mb-10" id="clock"></section>

    <section class="
      flex flex-col
      md:grid md:grid-cols-2
      md:gap-1
      xl:grid-cols-3
      2xl:grid-cols-4
      font-display
      text-2xl " id="apps">
        <a class="
        app
        grid
        place-items-center
        text-5xl
        pr-5
        pl-5
        pt-2
        pb-2
        cursor-pointer
        mb-5
      " href="#" rel="noopener noreferrer nofollow">
            <div class="flex items-center justify-center gap-1">
                <img alt="Tasks Icon" class="w-12" src="https://assets.codepen.io/3607040/source_icons_list.svg"/>
                <span>Data</span>
            </div>
        </a>

        <a class="
        app
        grid
        place-items-center
        text-5xl
        pr-5
        pl-5
        pt-2
        pb-2
        cursor-pointer
        mb-5
      " href="#" rel="noopener noreferrer nofollow">
            <div class="flex items-center justify-center gap-1">
                <img alt="Boards Icon" class="w-12" src="https://assets.codepen.io/3607040/source_icons_trello.svg"/>
                <span>Skade</span>
            </div>
        </a>

        <a class="
        app
        grid
        place-items-center
        text-5xl
        pr-5
        pl-5
        pt-2
        pb-2
        cursor-pointer
        mb-5
      " href="#" rel="noopener noreferrer nofollow">
            <div class="flex items-center justify-center gap-1">
                <img alt="Calendar Icon" class="w-12" src="https://assets.codepen.io/3607040/source_icons_trello.svg"/>
                <span>Forretning</span>
            </div>
        </a>

    </section>
</div>
</body>
</html>
