<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forside</title>
    <link rel="stylesheet" th:href="@{forside.css}" href="forside.css">
</head>
<body>
<div class="grid place-items-center w-full overflow-x-hidden">

    <section id="clock" class="font-display text-6xl md:text-8xl xl:text-9xl mt-10 mb-10"></section>

    <section id="apps" class="
      flex flex-col
      md:grid md:grid-cols-2
      md:gap-1
      xl:grid-cols-3
      2xl:grid-cols-4
      font-display
      text-2xl ">
        <a href="#" rel="noopener noreferrer nofollow" class="
        app
        grid
        place-items-center
        text-5xl
        pr-5
        pl-5
        pt-2
        pb-2
        cursor-pointer
        mb-5
      ">
            <div class="flex items-center justify-center gap-1">
                <img src="https://assets.codepen.io/3607040/source_icons_list.svg" alt="Tasks Icon" class="w-12" />
                <span>Data</span>
            </div>
        </a>

        <a href="#" rel="noopener noreferrer nofollow" class="
        app
        grid
        place-items-center
        text-5xl
        pr-5
        pl-5
        pt-2
        pb-2
        cursor-pointer
        mb-5
      ">
            <div class="flex items-center justify-center gap-1">
                <img src="https://assets.codepen.io/3607040/source_icons_trello.svg" alt="Boards Icon" class="w-12" />
                <span>Skade</span>
            </div>
        </a>

        <a href="#" rel="noopener noreferrer nofollow" class="
        app
        grid
        place-items-center
        text-5xl
        pr-5
        pl-5
        pt-2
        pb-2
        cursor-pointer
        mb-5
      ">
            <div class="flex items-center justify-center gap-1">
                <img src="https://assets.codepen.io/3607040/source_icons_trello.svg" alt="Calendar Icon" class="w-12" />
                <span>Forretning</span>
            </div>
        </a>

    </section>

    <section id="links" class="
      flex flex-col
      xl:flex-row
      xl:gap-16
      items-start
      lg:w-8/12
      lg:mt-14
      xl:w-10/12
      xl:justify-around
      gap-10
      2xl:gap-36
      mt-5
    ">
        <div class="xl:flex xl:flex-col w-full">
            <h2 class="text-4xl font-display w-full text-center pb-1 font-bold">
                category 1
            </h2>
            <div id="category-1" class="
          flex flex-col
          md:grid md:grid-cols-2
          md:place-items-center
          xl:flex
          items-center
          text-center
          w-full
          font-body
          text-xl
        ">
                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
            mt-2
          ">
                    link
                </a>
                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>
            </div>
        </div>

        <div class="xl:flex xl:flex-col w-full">
            <h2 class="text-4xl font-display w-full text-center pb-1 font-bold">
                category 2
            </h2>
            <div id="category-2" class="
          flex flex-col
          items-center
          text-center
          w-full
          font-body
          text-xl
          md:grid md:grid-cols-2
          md:place-items-center
          xl:flex
        ">
                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
            mt-2
          ">
                    link
                </a>
                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>
            </div>
        </div>

        <div class="xl:flex xl:flex-col w-full">
            <h2 class="text-4xl font-display w-full text-center pb-1 font-bold">
                category 3
            </h2>
            <div id="category-3" class="
          flex flex-col
          items-center
          text-center
          w-full
          font-body
          text-xl
          md:grid md:grid-cols-2
          md:place-items-center
          xl:flex
        ">
                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
            mt-2
          ">
                    link
                </a>
                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>
            </div>
        </div>

        <div class="xl:flex xl:flex-col w-full">
            <h2 class="text-4xl font-display w-full text-center pb-1 font-bold">
                category 4
            </h2>
            <div id="category-4" class="
          flex flex-col
          items-center
          text-center
          w-full
          font-body
          text-xl
          md:grid md:grid-cols-2
          md:place-items-center
          xl:flex
        ">
                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
            mt-2
          ">
                    link
                </a>
                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>

                <a href="#" rel="noopener noreferrer nofollow" class="
            link
            p-4
            transition
            ease-in-out
            rounded
            hover:bg-hsl-blue-0
            hover:text-white
            cursor-pointer
            w-full
            text-xl
          ">
                    link
                </a>
            </div>
        </div>
    </section>
</div>
</body>
</html>
