<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ny bestilling</title>
  <link rel="stylesheet" th:href="@{pendingrental.css}">
</head>
<body style="background-color: aliceblue">
<p style="padding-left: 45%; padding-top: 15%; font-size: x-large;">Godkend lejeaftale</p>
<p th:text="${prtest}" />

<button type="button">Godkend</button>
<!--
<div class="inputWithIcon">
  <p>Bestillings ID</p>
  <input type="text" placeholder="ID">
  <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
</div>

<div class="inputWithIcon">
  <p>CPR-Nummer</p>
  <input type="text" placeholder="CPR">
  <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
</div>

<div class="inputWithIcon">
  <p>Bil model</p>
  <input type="text" placeholder="Model">
  <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
</div>

<div class="inputWithIcon inputIconBg">
  <p>Farve</p>
  <input type="text" placeholder="Farve">
  <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
</div>

<div class="inputWithIcon inputIconBg">
  <p>Forsikring</p>
  <input type="text" placeholder="Ja/Nej">
  <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
</div>

<div class="inputWithIcon inputIconBg">
  <p> Selvrisiko </p>
  <input type="text" placeholder="Ja/Nej">
  <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>

</div>


<div class="inputWithIcon inputIconBg">
  <p> Lokation </p>
  <input type="text" placeholder="Lokation">
  <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
<div>
  <div
  class="inputWithIcon">
    <p >Månedlig ydelse</p>
  <input type="text" placeholder="Pris">
  <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>

    <button type="button">Godkend</button>
   -->
</body>


</html>