<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data-menu</title>
    <link rel="stylesheet" th:href="@{data-menu.css}">
</head>
<body>
<img alt="K.W Bruun" src="/Images/kwbruun.png">
<div>
    <a href="/data-view-active-rentals">AKTIVE LEJEAFTALER</a>
    <a href="/data-view-all-rentals">ALLE LEJEAFTALER</a>
    <a href="/data-menu-view-pending-rentals">AFVENTENDE LEJEAFTALER</a>
    <a href="/data-view-customers">KUNDER</a>
</div>


</body>
</html>