<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit pending rentals</title>
    <link rel="stylesheet" th:href="@{data-menu.css}">
</head>
<body>
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>
<table>
    <thead>
    <th>
        ∙ Leje-ID
    </th>
    <th>
        ∙ Kunde-CPR
    </th>
    <th>
        ∙ Model
    </th>
    <th>
        ∙ Farve
    </th>
    <th>
        ∙ Afleveringsforsikring
    </th>
    <th>
        ∙ Selvrisiko
    </th>
    <th>
        ∙ Lokation
    </th>
    <th>
        ∙ Månedlig ydelse
    </th>
    </thead>
    <tbody>
    <tr th:each="rental: ${rentals}">
        <td th:text="${rental.pendingRentalId}"></td>
        <td th:text="${rental.customerCPR}"></td>
        <td th:text="${rental.carModel}"></td>
        <td th:text="${rental.color}"></td>
        <td th:text="${rental.afleveringsforsikring}"></td>
        <td th:text="${rental.selvrisiko}"></td>
        <td th:text="${rental.location}"></td>
        <td th:text="${rental.monthlyFee}"></td>
    </tr>
    </tbody>
</table>
<div>
    <form method="POST" action="/activate-pending-rental">
        <div>

            <label for="price_pr_km">
                <input id="price_pr_km" type="number" name="price_pr_km"
                       placeholder="Pris Pr Km" required>
            </label>

            <label for="start_date">
                <input id="start_date" type="date" name="start_date"
                       placeholder="Startdato" required>
            </label>

            <label for="end_date">
                <input id="end_date" type="date" name="end_date"
                       placeholder="Slutdato" required>
            </label>
            <button type="submit"> Aktiver leje</button>
        </div>
    </form>
</div>
</body>
</html>