<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit-customer</title>
    <link rel="stylesheet" th:href="@{data-menu.css}">
</head>
<body>
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>

<form method="POST" action="/data-editing-customer">
    <label for="first_name">
        <span class="hidden"> Fornavn </span></label>
    <input id="first_name" type="text" name="first_name"
           placeholder="First Name" required>
    <button type="submit"> Opdater</button>
</form>
<form method="POST" action="/data-editing-customer">
    <label for="last_name">
        <span class="hidden"> Efternavn </span></label>
    <input id="last_name" type="text" name="last_name"
           placeholder="Last Name" required>
    <button type="submit"> Updater</button>
</form>
<form method="POST" action="/data-editing-customer">
    <label for="mobile">
        <span class="hidden"> Mobil </span></label>
    <input id="mobile" type="text" name="mobile"
           placeholder="Mobile" required>
    <button type="submit"> Opdater</button>
</form>

<table>
    <thead>
    <div>
        <th>
            ∙ Fornavn
        </th>
    </div>
    <th>
        ∙ Efternavn
    </th>
    <th>
        ∙ Tlf
    </th>
    <th>
        ∙ Kunde-CPR
    </th>
    </thead>
    <tbody>
    <tr th:each="customer: ${customer}">
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.mobile}"></td>
        <td th:text="${customer.cprNr}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>