<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forside</title>
    <link rel="stylesheet" th:href="@{data-menu.css}">
</head>
<body>
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>
<h1 style="color: #435b5d;
    font: inherit;
    margin-top: 50px;
    font-size: xx-large;
    font-family: monospace;
    text-align: center; text-decoration: underline; text-decoration-color: darkcyan;">AKTIVE LEJEAFTALER
</h1>

<form method="POST" action="/data-end-active-rental">
    <div style="margin-left: auto;">
        <label for="rental_id">
            <input id="rental_id" type="text" name="rental_id"
                   placeholder="Leje-ID" required>
            <button type="submit">Deaktiver Abonnement</button>
        </label>
    </div>
</form>

<table>
    <thead>
    <th>
        ∙ Leje-ID
    </th>
    <th>
        ∙ Kunde-CPR
    </th>
    <th>
        ∙ Bil model
    </th>
    <th>
        ∙ Bil farve
    </th>
    <th>
        ∙ Afleveringsforsikring
    </th>
    <th>
        ∙ Selvrisiko
    </th>
    <th>
        ∙ Lokation
    </th>
    <th>
        ∙ Månedlig ydelse
    </th>
    <th>
        ∙ Pris pr.km /DKK
    </th>
    <th>
        ∙ Startdato
    </th>
    <th>
        ∙ Slutdato
    </th>
    </thead>
    <tbody>
    <tr th:each="rental: ${activerentals}">
        <td th:text="${rental.rentalId}"></td>
        <td th:text="${rental.customerCPR}"></td>
        <td th:text="${rental.Carmodel}"></td>
        <td th:text="${rental.color}"></td>
        <td th:text="${rental.afleveringsforsikring}"></td>
        <td th:text="${rental.selvrisiko}"></td>
        <td th:text="${rental.location}"></td>
        <td th:text="${rental.monthlyFee}"></td>
        <td th:text="${rental.pricePrKm}"></td>
        <td th:text="${rental.startDate}"></td>
        <td th:text="${rental.endDate}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>