<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pending rentals</title>
    <link rel="stylesheet" th:href="@{data-menu.css}">
</head>
<body>
<img alt="K.W Bruun" src="/Images/kwbruun.png">
<div class="choose-prental">
    <h1> Confirm Pending Rental </h1>
    <form method="POST" action="/choose-pending-rental">
        <div>
            <label for="pending_rental_id">
                <span class="hidden">Rental ID </span></label>
            <input id="pending_rental_id" type="number" name="pending_rental_id"
                   placeholder="Rental Id" required>
            <button type="submit" >+</button>
        </div>
    </form>
</div>
    <table class="prental">
        <thead>
        <th>
            Pending Rental Id
        </th>
        <th>
            Customer CPR
        </th>
        <th>
            Car Model
        </th>
        <th>
            Car Color
        </th>
        <th>
            Afleveringsforsikring
        </th>
        <th>
            Selvrisiko
        </th>
        <th>
            Location
        </th>
        <th>
            Monthly Fee
        </th>
        </thead>
        <tbody>
        <tr th:each = "rental: ${rentals}">
            <td th:text="${rental.pendingRentalId}"/>
            <td th:text="${rental.customerCPR}"/>
            <td th:text="${rental.model}"/>
            <td th:text="${rental.color}"/>
            <td th:text="${rental.afleveringsforsikring}"/>
            <td th:text="${rental.selvrisiko}"/>
            <td th:text="${rental.location}"/>
            <td th:text="${rental.monthlyFee}"/>
        </tr>
        </tbody>
    </table>
</body>
</html>