<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View customers</title>
    <link rel="stylesheet" th:href="@{data-menu.css}">
</head>
<body>
<img alt="K.W Bruun" src="/Images/kwbruun.png">
<form method="POST" action="/data-choose-customer">
    <label for="customer_cpr">
        <span class="hidden"> CPR Number </span></label>
    <input id="customer_cpr" type="text" name="customer_cpr"
           placeholder="Customer CPR " required>
    <button type="submit"> Edit Customer</button>
</form>
<h1> Kunder </h1>
<div>
    <table>
        <thead>
        <th>
            Fornavn
        </th>
        <th>
            Efternavn
        </th>
        <th>
            Tlf
        </th>
        <th>
            CPR-Nr
        </th>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.firstName}"/>
            <td th:text="${customer.lastName}"/>
            <td th:text="${customer.mobile}"/>
            <td th:text="${customer.cprNr}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>