<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forside</title>
    <link rel="stylesheet" th:href="@{data-menu.css}">
</head>
<body>
<img alt="K.W Bruun" src="/Images/kwbruun.png">

<form method="POST" action="/data-end-active-rental">
    <div style="margin-left: 150px">
        <label for="rental_id">
            <span class="hidden;" style="font-size: initial">Skade navn</span></label>
        <input id="rental_id" type="text" name="rental_id"
               placeholder="Leje-ID" required>
        <button type="submit" > Færdiggør Abonnement </button>
    </div>
</form>

<table style="margin-left: 200px;
    margin-top: 25px;">
    <thead>
    <th>
        Leje-ID /
    </th>
    <th>
        Kunde-CPR /
    </th>
    <th>
        Bil model /
    </th>
    <th>
        Bil farve /
    </th>
    <th>
        Afleveringsforsikring /
    </th>
    <th>
        Selvrisiko /
    </th>
    <th>
        Lokation /
    </th>
    <th>
        Månedlig ydelse /
    </th>
    <th>
        Pris Pr Km /
    </th>
    <th>
        StartDato /
    </th>
    <th>
        Slutdato /
    </th>
    </thead>
    <tbody>
    <tr th:each="rental: ${activerentals}">
        <td th:text="${rental.rentalId}"/>
        <td th:text="${rental.customerCPR}"/>
        <td th:text="${rental.model}"/>
        <td th:text="${rental.color}"/>
        <td th:text="${rental.afleveringsforsikring}"/>
        <td th:text="${rental.selvrisiko}"/>
        <td th:text="${rental.location}"/>
        <td th:text="${rental.monthlyFee}"/>
        <td th:text="${rental.pricePrKm}"/>
        <td th:text="${rental.startDate}"/>
        <td th:text="${rental.endDate}"/>
    </tr>
    </tbody>
</table>

</body>
</html>