<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View customers</title>
    <link rel="stylesheet" th:href="@{data-menu.css}">
</head>
<body>
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>
<h1 style="color: #435b5d; font: inherit; margin-top:
 50px; font-size: xx-large; font-family: monospace; text-align: center;
  text-decoration: underline; text-decoration-color: darkcyan;">KUNDER</h1>
<form method="POST" action="/data-choose-customer">
    <label for="customer_cpr">
        <input id="customer_cpr" type="text" name="customer_cpr"
               placeholder="Kunde-CPR " required>
        <button type="submit">Rediger kunde</button>
    </label>
</form>
<table>
    <thead>
    <th>
        ∙ Fornavn
    </th>
    <th>
        ∙ Efternavn
    </th>
    <th>
        ∙ Tlf
    </th>
    <th>
        ∙ CPR-Nr
    </th>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.mobile}"></td>
        <td th:text="${customer.cprNr}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>