a {
    text-decoration: underline;
    width: 250px;
    text-align: center;
    margin-top: 15px;
    border-radius: 4px;
    margin-left: auto;
    font-family: monospace;
    color: #4f7275;
    text-decoration-color: darkcyan;
}

body {
    background-color: aliceblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 40%;
    height: 40%;
}

div {
    text-align: center;
    font-family: monospace;
    overflow: hidden;
    font-size: xx-large;
    margin-top: 50px;
}

button {
    font-family: auto, inherit;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    text-transform: uppercase;
    color: darkcyan;
    padding-top: 5.7px;
    padding-bottom: 4px;
}


input {
    border: solid 1.5px #8fb2bb;
    font-size: 1rem;
    color: cadetblue;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: monospace;
}

select {
    border: solid 1.5px #8fb2bb;
    font-size: 1rem;
    color: cadetblue;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: monospace;
}

table, th, td {
    font-family: monospace;
    border: 0.6px solid #5f9ba0;
    text-align: center;
    margin: 25px auto auto;
    font-size: inherit;
    color: #435b5d;
    padding: 10px;
    width: 90%;
}

form {
    text-align: center;
    margin-top: 25px;
}
