/* @Author Battal Roni Özcan */
body {
    font-family: monospace;
    margin: 0;
}

table {
    border-color: inherit;
    text-indent: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.flex {
    display: flex;
}

.table {
    display: table;
}

.grid {
    display: grid;
}

.place-items-center {
    place-items: center;
    padding: 13.5%;
    text-align: center;
vertical-align: middle;
    display: flex;
    justify-content: center;
}

.text-5xl {
    font-size: 2.7rem;
    line-height: 1;
}

.mt-10 {
    margin-top: 2.5rem;
}

.mb-10 {
    margin-bottom: 2.5rem;
}

.w-12 {
    width: 2.5rem;
}

.app {
    place-items: center;
    background-color: #fff;
    border: 0.15rem solid #8fb2bb;
    border-radius: 3px;
    color: black;
    padding: 1.3rem;
    position: relative;
    top: 10%;
    width: 100%;
}

.app:after {
    background-color: #8fb2bb;
    border-radius: 1px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.25s ease-in-out;
    width: 100%;
    z-index: -5;
}

.app:hover:after {
    transform: translate(8px, -18px);
}

@media (min-width: 1000px) {
    .md\:grid {
        display: grid;
    }

    .md\:gap-1 {
        gap: 2rem;
    }

}

.img.w-12{
    height: 20px;
}

.xl\:grid-cols-3 {
    position: absolute;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 40%;
    height: 40%;
}