body{
    background-color: aliceblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 40%;
    height: 40%;
}

.links {
    background-color: #bbd4db;
    text-decoration: none;
    width: 250px;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 2px;
    border: #749abc 0.5px solid;
    margin-left: auto;
}

.table-section {
    background-color: #bbd4db;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -45px;
}

.table-section h2 {
    text-align: center;
    margin-top: 5%;
    padding-top: 25px;
}

.table-section th {
    padding-left: 50px;
    padding-right: 50px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: initial;
}

.table-section tr {
    text-align: center;
    background-color: #8fb2bb;
}

.section {
    background-color: #bbd4db;
    width: 400px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}

.sub-section {
    width: fit-content;
    margin-top: 2%;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
}

.sub-section-field {
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.sub-section-field-title {
    font-size: 18px;
}