<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forretning</title>
    <link rel="stylesheet" th:href="@{statistik.css}">
</head>
<body style="background-color: aliceblue">

<img alt="Italian Trulli" src="/Images/kwbruun.png" style="width: 600px; padding-left: 400px;
 padding-top: 20px; ">
<table style="padding-left: 500px; padding-top: 50px">
    <tr>
        <th>Antal udlejede biler</th>
        <th> </th>
        <th>Total sum på udlejede biler</th>
    </tr>
    <tr>
        <td>10</td>
        <td> </td>
        <td>50.000kr</td>
    </tr>
</table>
</body>
</html>