<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="/creating-payment">
    <label for="amount">
        <input id="amount" type="number" name="amount"
               placeholder="Amount" required>
    </label>

    <label for="date">
        <input id="date" type="date" name="date"
               placeholder="Date" required>
    </label>

    <label for="type">
        <select name="type" id="type">
            <option value="type" selected hidden> Betalings Type</option>
            <option value="MONTHLY"> Månedlig betaling </option>
            <option value="ONETIME"> Engangsbetaling </option>
        </select>
    </label>

    <label for="rental_id">
        <input id="rental_id" type="number" name="rental_id"
               placeholder="Leje-ID" required>
    </label>

    <button type="submit"> Opret betaling</button>
</form>

</body>
</html>