<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forretning</title>
    <link rel="stylesheet" th:href="@{statistik.css}">
</head>
<body>
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>
<div class="links">
    <a href="/statistic-view-payments" style="font-family: monospace; color: black">AFVENTENDE BETALINGER</a>
</div>

<div class="links">
    <a href="/statistic-view-sale-records" style="font-family: monospace; color: black">SALGSREKORDER</a>
</div>

<div class="section" style="position:absolute">
    <h2 style="font-family: monospace;">FORVENTEDE INDKOMST FOR MÅNEDEN </h2>
    <div class="sub-section">
        <td th:text="${incomemonthly}"/>
        <d> DKK</d>
    </div>
</div>


<div class="section">
    <h2 style="font-family: monospace"> INDKOMST FOR PERIODEN </h2>
    <div class="sub-section">
        <td th:text="${incomeduring}"/>
        <d> DKK</d>
    </div>

    <div class="sub-section">
        <form method="POST" action="/statistic-income-during-period">
            <div class="sub-section-field">
                <div class="sub-section-field-title">
                    <h4 style="font-family: monospace; font-size: initial">STARTDATO</h4>
                </div>
                <label for="start_date">
                    <input id="start_date" type="date" name="start_date"
                           placeholder="Start Date" required>
                </label>
            </div>
            <div class="sub-section-field">
                <div class="sub-section-field-title">
                    <h4 style="font-family: monospace; font-size: initial">SLUTDATO</h4>
                </div>
                <label for="end_date">
                    <input id="end_date" type="date" name="end_date"
                           placeholder="Slutdato" required>
                </label>
            </div>
            <div class="sub-section-field">
                <button type="submit;" style="border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    text-transform: uppercase;
    color: cadetblue;">Se indkomst
                </button>
            </div>
        </form>
    </div>
</div>

<div class="table-section">
    <h2 style="font-family: monospace"> AKTIVE LEJEAFTALER </h2>
    <table style="margin: auto">
        <thead>
        <th style="font-family: monospace">
            ∙ Leje-ID
        </th>
        <th style="font-family: monospace">
            ∙ Månedlig indkomst
        </th>
        <th style="font-family: monospace">
            ∙ Aktiv til
        </th>
        </thead>
        <tbody>
        <tr th:each="rental: ${rentals}">
            <td th:text="${rental.rentalId}"/>
            <td th:text="${rental.monthlyFee}"/>
            <td th:text="${rental.endDate}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>