<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View-payments</title>
    <link rel="stylesheet" th:href="@{statistik.css}">
</head>
<body>
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>
<h1 style="color: #435b5d;
    font: inherit;
    margin-top: 50px;
    font-size: xx-large;
    font-family: monospace;
    text-align: center; text-decoration: underline; text-decoration-color: darkcyan;">AFVENTENDE BETALINGER</h1>
<a href="/statistic-register-new-month">Ny måned </a>
<a href="/create-new-payment" style="margin-left: 10px;">Ny betaling </a>

<form method="POST" action="/confirm-payment">
    <div>
        <label for="payment_id">
            <input id="payment_id" type="number" name="payment_id"
                   placeholder="Betalings-ID" required>
        </label>

        <label for="payment_type">
            <select name="payment_type" id="payment_type">
                <option value="payment_type" selected hidden> Betalingsmetode</option>
                <option value="Månedlig betaling">Månedlig betaling</option>
                <option value="Engangsbetaling">Engangsbetaling</option>
            </select>
        </label>

        <label for="date">
            <input id="date" type="date" name="date"
                   placeholder="Dato" required>
        </label>

        <button type="submit">Bekræft betaling</button>
    </div>
</form>
<div>
    <table>
        <thead>
        <th>
            ∙ Betalings-ID
        </th>
        <th>
            ∙ Beløb
        </th>
        <th>
            ∙ Dato
        </th>
        <th>
            ∙ Leje-ID
        </th>
        </thead>
        <tbody>
        <tr th:each="payment: ${payments}">
            <td th:text="${payment.paymentId}"></td>
            <td th:text="${payment.amount}"></td>
            <td th:text="${payment.date}"></td>
            <td th:text="${payment.rentalId}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>