<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View-sale-records</title>
    <link rel="stylesheet" th:href="@{data-menu.css}">
</head>
<body>
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>
<div>
    <table>
        <thead>
        <th>
            ∙ Betalings-ID
        </th>

        <th>
            ∙ Beløb
        </th>
        <th>
            ∙ Leje-ID
        </th>
        <th>
            ∙ Dato
        </th>
        <th>
            ∙ Type
        </th>

        </thead>
        <tbody>
        <tr th:each="salerecord: ${salerecords}">
            <td th:text="${salerecord.paymentId}"/>
            <td th:text="${salerecord.amount}"/>
            <td th:text="${salerecord.rentalId}"/>
            <td th:text="${salerecord.date}"/>
            <td th:text="${salerecord.type}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>