<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>login</title>
    <link href="login.css" rel="stylesheet" th:href="@{login.css}">
</head>
<body>
<img alt="Italian Trulli" src="/templates/Images/kwbruun.png" style="width: 700px; padding-left: 350px;
 padding-top: 20px; ">
<div class="login form">
    <label>
        <input class="email" placeholder="Email" type="email">
    </label><br>
    <label>
        <input class="password" placeholder="Adgangskode" type="password">
    </label><br>
    <button class="button" type="submit">Log In</button>
</div>
</body>
</html>