<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>login</title>
    <link rel="stylesheet" th:href="@{login.css}">
</head>
<body style="background-color: aliceblue">
<img alt="K.W Bruun" src="/Images/kwbruun.png" style="width: 600px; padding-left: 400px;
 padding-top: 20px; ">
<div class="login form">
    <label>
        <input class="email" placeholder="Email" type="email">
    </label><br>
    <label>
        <input class="password" placeholder="Adgangskode" type="password">
    </label><br>
    <button class="button" type="submit">Log In</button>
</div>
</body>
</html>