<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" th:href="@{login.css}">
</head>
<body style="background-color: aliceblue; margin: 0;">
<img alt="K.W Bruun" src="/Images/kwbruun.png">

<form method="POST" action="/logging" class="form login">


    <form>
        <label for="username">
        <div class="form-field">
            <input id="username" type="text" name="username" placeholder="username" required/>
        </div>
        </label>

        <label for="password">
        <div class="form-field">
            <input id = "password" type="password" name="password" placeholder="password" required/></div>
        </label>

        <div class="form-field">
            <button class="btn" type="submit">Log in</button>
        </div>
    </form>

</form>
</body>
</html>