<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3> Skadesrapporter </h3>

<a href="/damage-report-create"> Opret ny skaderapport </a>

<form method="POST" action="/choosing-damage-report">
    <div>
        <label for="report_id">
            <span class="hidden">Skade navn</span></label>
        <input id="report_id" type="text" name="report_id"
               placeholder="Report Id" required>
        <button type="submit" > Vælg </button>
    </div>
</form>

<table>
    <thead>
    <th>
        Rapport ID
    </th>
    <th>
        Beskrivelse
    </th>
    </thead>
    <tbody>
    <tr th:each = "report: ${reports}">
        <td th:text="${report.reportId}"/>
        <td th:text="${report.description}"/>
    </tr>
    </tbody>
</table>
</body>
</html>