<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Damage page</title>
    <link rel="stylesheet" th:href="@{udleje.css}">
</head>
<body style="background-color: aliceblue">
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>



<h3 style="text-align: center">SKADE RAPPORTER </h3>



<form method="POST" action="/choosing-damage-report">
    <div style="text-align: center;">
        <label for="report_id">
            <input id="report_id" type="number" name="report_id"
                   placeholder="Rapport-Id" required>
            <button type="submit">SE/ÆNDRE RAPPORT</button>
        </label>
    </div>

</form>

<table>
    <thead>
    <th>
        Rapport-Id
    </th>
    <th>
        Beskrivelse
    </th>
    </thead>
    <tbody>
    <tr th:each="report: ${reports}">
        <td th:text="${report.reportId}"></td>
        <td th:text="${report.description}"></td>
    </tr>
    </tbody>
</table>
<div class="middle">
<a href="/damage-report-create" style=>Opret skadesrapport </a>
<a href="/choose-rental" style="margin-left: 10px">Vælg nyt abonnement</a>
</div>
</body>
</html>