<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Damage Report</title>
</head>
<body>
<h1>Report Beskrivelse</h1>
<form method="POST" action="/create-damage-report">
    <div>
        <label for="report_description">
            <span class="hidden">Report Description</span></label>
        <input id="report_description" type="text" name="report_description"
               placeholder="Description" required>
        <button type="submit" >+</button>
    </div>
</form>
</body>
</html>