<!-- @Author Battal Roni Özcan -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create damage rapport</title>
    <link rel="stylesheet" th:href="@{udleje.css}">
</head>
<body>
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>
<h1 style="color: #435b5d;
    font: inherit;
    margin-top: 50px;
    font-size: xx-large;
    font-family: monospace;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkcyan;">Rapport beskrivelse</h1>
<form method="POST" action="/create-damage-report">
    <div style="text-align: center;">
        <label for="report_description">
            <span class="hidden; style= font-family: monospace;">Rapport beskrivelse</span></label>
            <label for="report_description">
                <select name="report_description" id="report_description">
                    <option selected hidden> Rapportbeskrivelse</option>
                    <option>Matrix</option>
                    <option>Registered</option>
                </select>
            </label>
            <button type="submit">+</button>
    </div>
</form>
</body>
</html>