<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creating Damage Rapport</title>
    <link rel="stylesheet" th:href="@{skaderegistrering.css}">
</head>
<body style="background-color: aliceblue;">
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>
<h3 style="color: #435b5d;
    font: inherit;
    margin-top: 50px;
    font-size: xx-large;
    font-family: monospace;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkcyan;">SKADERAPPORT</h3>


<h3 th:text="${damage_name}"></h3>

<h1 style="margin: auto;
    font-family: monospace;
    font-size: large;
    color: #435b5d;
    text-decoration: underline;
    text-decoration-color: darkcyan; ">Tilføj Skade</h1>
<form method="POST" action="/add-damage">
    <div style="margin-bottom: 50px;">
        <input autocomplete="damage_name" id="damage_name" type="text" name="damage_name"
               placeholder="Navn" required>


        <input autocomplete="damage_price" id="damage_price" type="number" name="damage_price" class="damage_price"
               placeholder="Pris" required>
        <button type="submit">OPRET RAPPORT</button>
    </div>
</form>

<h1 style="margin: auto;
    font-family: monospace;
    font-size: large;
    color: #435b5d;
    text-decoration: underline;
    text-decoration-color: darkcyan;">Slet skade</h1>
<form method="POST" action="/remove-damage">
    <div>
        <label for="damage_name_remove">
            <span class="hidden">Skade navn</span></label>
        <input id="damage_name_remove" type="text" name="damage_name_remove"
               placeholder="Navn" required>
        <button type="submit">SLET RAPPORT</button>
    </div>
</form>
<div style="
  margin-top: 20px;
    font-family: monospace;
    font-size: large;
    color: #435b5d;
    text-decoration-line: overline;
    text-decoration-color: darkcyan;">
    <table>
        <thead>
        <th>
            ∙ Skade
        </th>
        <th>
            ∙ Pris
        </th>
        </thead>
        <tbody>
        <tr th:each="damage: ${damages}">
            <td th:text="${damage.damage}"/>
            <td th:text="${damage.amount}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>