<!-- @Author Battal Roni Özcan -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Udlejede biler</title>
    <link rel="stylesheet" th:href="@{udleje.css}">
</head>
<body style="background-color: aliceblue">
<a href="/forside">
    <img alt="K.W Bruun" src="/Images/kwbruun.png">
</a>
<div style="border: 1.4px solid cadetblue;
    margin: auto;
    margin-top: 30px;
    border-radius: 3px;
width: 90%;">
    <h1 style="color: #435b5d;
    font: inherit;
    margin-top: 50px;
    font-size: xx-large;
    font-family: monospace;
    text-align: center; text-decoration: underline; text-decoration-color: darkcyan;">VÆLG ABONNEMENT</h1>
    <form method="POST" action="/choosing-rental">
        <div style="padding-left: 40%">
            <label for="rental_id">
                <input id="rental_id" type="text" name="rental_id"
                       placeholder="Indtast Leje-ID" required>
                <button type="submit">Vælg</button>
            </label>
        </div>
    </form>

    <table>
        <thead class="text">
        <th>
            ∙ Leje-ID
        </th>
        <th>
            ∙ Kunde-CPR
        </th>
        <th>
            ∙ Bil Model
        </th>
        <th>
            ∙ Farve
        </th>
        <th>
            ∙ Afleveringsforsikring
        </th>
        <th>
            ∙ Selvrisiko
        </th>
        <th>
            ∙ Lokation
        </th>
        <th>
            ∙ Pris pr.km/DKK
        </th>
        <th>
            ∙ Startdato
        </th>
        <th>
            ∙ Slutdato
        </th>
        <th>
            ∙ Månedlig ydelse/DKK
        </th>
        <th>
            ∙ Aktiv/Inaktiv
        </th>
        </thead>
        <tbody>
        <tr th:each="rental: ${rentals}">
            <td th:text="${rental.rentalId}"></td>
            <td th:text="${rental.customerCPR}"></td>
            <td th:text="${rental.carModel}"></td>
            <td th:text="${rental.color}"></td>
            <td th:text="${rental.afleveringsforsikring}"></td>
            <td th:text="${rental.selvrisiko}"></td>
            <td th:text="${rental.location}"></td>
            <td th:text="${rental.pricePrKm}"></td>
            <td th:text="${rental.startDate}"></td>
            <td th:text="${rental.endDate}"></td>
            <td th:text="${rental.monthlyFee}"></td>
            <td th:text="${rental.active}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>